---
on:
  schedule:
    - cron: '*/20 * * * *'

jobs:
  publish_archive_job:
    runs-on: ubuntu-22.04
    name: A job to publish zulip-archive in GitHub pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run archive
        id: archive
        uses: leamas/zulip-archive@master
        with:
          # zulip_organization_url: ${{ secrets.ZULIP_ORGANIZATION_URL }}
          # zulip_bot_email: ${{ secrets.ZULIP_BOT_EMAIL }}
          # zulip_bot_key: ${{ secrets.ZULIP_BOT_KEY }}
          github_token: ${{secrets.GITHUB_TOKEN }}
          zuliprc: ${{secrets.ZULIPRC}}
